 <!-- ADD CART MODEL -->
 <div class="modal fade" id="myAdd_btn" tabindex="-1" role="dialog" aria-labelledby="myAdd_btn" aria-hidden="true">
    <div class="agilemodal-dialog modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Click to Speak Now</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body pt-3 pb-5 px-sm-5">
                <form action="/add" method="POST"  id="add-form">
                  <input name="add-query" type="text" placeholder="Speak to Search" autocomplete="off" autofocus>
                </form>
                <p class="info"></p>
              </div>
        </div>
    </div>
</div>
